{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">


</head>
<body>
<div class="header-image">
    <div class="book-cover"><img src="{{ book.image }}">

    </div>
    <div class="full-description">
        <h1><div class="book-title">{{ book.title }}</div></h1>
        <ul>
            <li>
                <h3><div class="book-description">{{ book.description }}</div></h3>
            </li>
            <li>
                <h3><div class="book-author"> Author : {{ book.author }}</div></h3>
            </li>
            <li>
                <h3><div class="book-published_date"> Date: {{ book.published_date}}</div></h3>
            </li>
        </ul>
    </div>
</div>
    <div class="book">

        <div class="content">{{ book.content }}</div>

    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% for comment in comments %}
    <div class="comment">
        <div class="comment-user"><h4>{{ comment.user }}</h4></div>
        <div class="comment-content">{{ comment.content }}</div>
        <div class="comment-created-at"><h6>{{ comment.created_at }}</h6></div>
    </div>
{% endfor %}
</body>
</html>
